doctype html
html
    head
        title NekoBoard
        meta(name="viewport", content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="css/sanitize.min.css")
        style
            |   html, body, #app {
            |       width: 100%;
            |       height: 100%;
            |       overflow: hidden;
            |   }
        if ga
            script!= ga
            script.
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', GA_CONFIG.id, 'auto');
                ga('send', 'pageview');
    body(data-boardId=boardId, data-config=config)
        div#app
        script(src="js/browser.js")
