doctype html
html
    head
        title NekoBoard
        link(rel="stylesheet", type="text/css", href="css/sanitize.min.css")
        style
            |   html, body, #app {
            |       width: 100%;
            |       height: 100%;
            |       overflow: hidden;
            |   }
    body
        div#app
        script(src="js/browser.js")