.noScroll
    overflow: hidden

.scroll
    overflow: auto
    -webkit-overflow-scrolling: touch

.scrollX
    @extend .scroll
    overflow: hidden
    overflow-x: auto

.scrollY
    @extend .scroll
    overflow: hidden
    overflow-x: auto
